/*Simple reset*/
* {margin: 0; padding: 0;}

body {
    /*You can use any kind of background here.*/
    background: url(../images/background1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#canvas {
    display: block;
}

.text-center{

    z-index: 1000;
    color:#fff;
    font-family: 'Oswald', sans-serif;
}

